{%extends "home/index.html"%}
{%block title%} About {%endblock%}
{%block content%}
<div id="center-page poke">
    <h3 class="poke header">About</h3>
    <div id="pager" class="poke dialog-panel">
        
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore sed illum eos tenetur debitis,
            voluptatem
            consequatur amet itaque repudiandae autem esse magnam blanditiis placeat earum neque porro, sequi ad.
            Officiis?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad autem itaque in a voluptate consequuntur
            enim,
            deleniti reprehenderit libero quam fugit officia excepturi officiis labore quod id deserunt cupiditate
            aliquid.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste eveniet, atque animi nemo provident
            suscipit.
            Dolorum provident ea harum reiciendis, aperiam minima. Ipsum necessitatibus repellat saepe delectus
            officia
            tempore assumenda.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga beatae aperiam sint laboriosam similique
            alias
            sunt! Aliquam impedit nulla autem, commodi libero, natus illum cupiditate distinctio aspernatur delectus
            minus
            beatae?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem exercitationem eligendi asperiores aut
            velit
            similique eum voluptate deserunt itaque incidunt ex, iusto et facere voluptatum iure quaerat placeat,
            consequatur facilis.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi odit quos recusandae blanditiis possimus
            est
            fugit facere. Dolore voluptatum vel, natus ab tempore, ullam sequi suscipit cumque ipsa fuga expedita.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam tempore libero porro, saepe veniam
            nobis
            nam! Sapiente, omnis est magni amet optio libero delectus fuga excepturi, aliquam numquam illum!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam dolorem esse mollitia repellat
            possimus,
            repellendus sint suscipit nulla nostrum ea sapiente nobis cum accusamus inventore doloremque
            perspiciatis
            repudiandae obcaecati harum!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis id odit voluptatem, nostrum ea
            distinctio
            necessitatibus soluta deleniti sunt dignissimos eveniet officia, architecto assumenda sed non illum nisi
            facere
            rem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem modi commodi illo inventore, natus, ea
            in
            atque quibusdam earum aspernatur, laudantium est. Dolor, iusto sequi! Veritatis similique nobis odio.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At perspiciatis expedita iusto? Pariatur velit,
            voluptatibus corrupti odit distinctio nobis eum corporis. Quas impedit laborum omnis debitis et
            voluptatem
            repudiandae exercitationem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At perspiciatis expedita iusto? Pariatur velit,
            voluptatibus corrupti odit distinctio nobis eum corporis. Quas impedit laborum omnis debitis et
            voluptatem
            repudiandae exercitationem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At perspiciatis expedita iusto? Pariatur velit,
            voluptatibus corrupti odit distinctio nobis eum corporis. Quas impedit laborum omnis debitis et
            voluptatem
            repudiandae exercitationem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At perspiciatis expedita iusto? Pariatur velit,
            voluptatibus corrupti odit distinctio nobis eum corporis. Quas impedit laborum omnis debitis et
            voluptatem
            repudiandae exercitationem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At perspiciatis expedita iusto? Pariatur velit,
            voluptatibus corrupti odit distinctio nobis eum corporis. Quas impedit laborum omnis debitis et
            voluptatem
            repudiandae exercitationem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At perspiciatis expedita iusto? Pariatur velit,
            voluptatibus corrupti odit distinctio nobis eum corporis. Quas impedit laborum omnis debitis et
            voluptatem
            repudiandae exercitationem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At perspiciatis expedita iusto? Pariatur velit,
            voluptatibus corrupti odit distinctio nobis eum corporis. Quas impedit laborum omnis debitis et
            voluptatem
            repudiandae exercitationem!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, possimus. Provident adipisci repudiandae cupiditate corrupti hic inventore neque ducimus et modi ut quidem, harum repellat illo cumque delectus laboriosam repellendus!

        </p>
        <img src="https://cdn2.iconfinder.com/data/icons/pixel-art-large/100/PixelArtIcons-20-256.png"
            class="continue-symbol">
    </div>
</div>
{%endblock%}

{%block extracss%}
<style>
    body{
        background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.TbWRrnatXBjHvUmDR2hDdAHaF7%26pid%3DApi&f=1);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #center-page {
        align-items: center;
    }

    #pager {
        border-radius: 5px double;
        margin: 20px 5% 20px 5%;
        background-color: wheat;
        width: 90%;
    }

    .dialog-panel {
        text-align: justify;
    }

    .header{
        margin-top: 30px;
        margin-left: 5%;
    }
</style>
{%endblock%}