{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block extrahead %}
    {% endblock %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min (2).css' %}">
    <title>{% block title %} Document {% endblock %}</title>
</head>
<body>
  

    {% block navbar %}
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid poke">
        <a class="navbar-brand" href="#">POKEBASE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

       <div>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.jL4cCeS23Oc4jFYrK-bjiwHaHa%26pid%3DApi&f=1 "width = "25" height = "25">
       </div>

        <div class="collapse navbar-collapse marg" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="../home/">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Relevant</a>
              <!-- <div class="Table"> -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'citizen' %}">citizen</a>
                  <a class="dropdown-item" href="{% url 'trainer' %}">trainer</a>
                  <a class="dropdown-item" href="{% url 'pokemon' %}">pokemon</a>
                </div>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">Table</a>
            <!-- <div class="Table"> -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="{% url 'citizen' %}">Citizens</a>
              <a class="dropdown-item" href="{% url 'trainer' %}">Trainers</a>
              <a class="dropdown-item" href="{% url 'pokemon' %}">Pokemons</a>
              <a class="dropdown-item" href="{% url 'caught_pokemon' %}">Caught Pokemons</a>
              <a class="dropdown-item" href="{% url 'gym' %}">Gyms</a>
              <a class="dropdown-item" href="{% url 'motion' %}">Motions</a>
              <a class="dropdown-item" href="{% url 'region' %}">Regions</a>
              <a class="dropdown-item" href="{% url 'species' %}">Species</a>
              <a class="dropdown-item" href="{% url 'element' %}">Elements</a>
            </div>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li style="position: absolute; top: 30px; right: 10px;">
            <div  class="btn-group-vertical">
              <button type="button"  href="admin" style="color: black ; background-color:rgb(251, 251, 251);" class="btn btn-primary poke">Admin site</button>
            </div>
            </li>
          
          </ul>
        </div>
      </div>
    </nav>

  
	{% endblock %}
           

<div class="marg" align="center">
  <h4 class="poke">Cought Pokemons</h4>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.4IKdHh8s7ppBp1N9xs_5YwHaFE%26pid%3DApi&f=1"width = "150" height = "75" >
</div>

<div id="customlay" class="container" >
<div  class="row align-items-start">
  <table class="col-9 bg-light poke marg">
	<thead>
		<tr>
			<td>ID</td>
			<td>Trainer</td>
			<td>Nickname</td>
			<td>Pokeball used</td>
			<td>Caught level</td>
			<td>Actual level</td>
			<td>Motions</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for object in object_list %}
		<tr>
			<td>{{ object.id_Trainer }}</td>
			<td>{{ object.nickname }}</td>
			<td>{{ object.pokeball }}</td>
			<td>{{ object.caught_level }}</td>
			<td>{{ object.actual_level }}</td>
			<td>{{ object.motion}}</td>
		</tr>
		{% endfor %}
		{% else %}
		 <div  class="alert alert-dismissible alert-danger">
      <button type="button" style="float: right;" class="btn-close" onclick="exit()" data-bs-dismiss="alert"></button>
        <strong>Oh snap!</strong> We don't have any information about it. If you are admin, try insert some info <a href="../citizen/">here</a>.
    </div>
		{% endif %}
	</tbody>
</table> 

<div class="col-2 filters">
  <div class="row">
      
  <h5 class="poke marg">Filters</h5>
  </div>

  <div class="row">
  <div id="barra-lateral">
  <ul>
    <li class="sub-menu poke marg">Trainer</a>
      <ul>
        <li>
          <form>
            <p class="f-size">Please enter a trainer name:</p>
            <input type="text" size="10" maxlength="10">
          </form>
        </li>       
      </ul>
    </li>
    <li class="sub-menu poke marg">Pokeball used to catch it</a>
      <ul>
        <li>
          <form>
            <p class="f-size">Please enter a pokeball type-name:</p>
            <input type="text" size="10" maxlength="10">
          </form>
        </li>       
      </ul>
    </li>
       <li class="sub-menu poke marg">Caught level</a>
      <ul>
        <li>
          <form>
            <p class="poke f-size">Please enter a level:</p>
            <input type="text" size="10" maxlength="15">
            </form>
        </li>       
      </ul>
    </li>
     <li class="sub-menu poke marg">Actual level</a>
      <ul>
        <li>
          <form>
            <p class="poke f-size">Please enter a level:</p>
            <input type="text" size="10" maxlength="15">
            </form>
        </li>       
      </ul>
    </li>
      </ul>
    </li>
  </div>
</div>
</div>
</div>



<style>
      @font-face {
        font-family: 'Pokemon Classic';
        src: local('Pokemon Classic'),
             local('Pokemon-Classic');
      }
      
      .poke{
          font-family: 'Pokemon Classic';     
      }

      .marg{
    margin: 20px;
      }

    .f-size{
      font-size:10px
    }

.dropdown-item:hover{
        background-color:#5a5a5a;
      }
    .filters li{
        list-style-image: url("../../static/img/pokeball.ico");
      }
      li ul li{
        list-style:none !important;
      }

     .alert-danger{
       background-color: rgba(241, 0, 0, 0.707);
     }

    </style> 

{% block extrajs %}
{% endblock %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min (2).js' %}"></script>
    <script src="{% static 'js/exit.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>