{% comment %} {% extends 'base/base.html' %} {% endcomment %}


<div class="marg" align="center">
  <h4 class="poke">Elements</h4>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.cswcbMFDaepAw4pPtPay_AHaFj%26pid%3DApi&f=1"width = "150" height = "100" >
</div>

 {% block title %} Element List {% endblock %}

{% block header %} <h4> Element Entries </h4> {% endblock %}

{% block content %}

<p> </p>
<label for="filter">Filters</label>
<form action="/element_list/" method="get" id="filter">
  <div class="row">
    <div class="col-auto my-1">
      <input type="text" class="form-control" placeholder="Name" name="name">
    </div>

  </div>

<p> </p>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<p> </p>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>More Effective Against</td>
        </tr>
    </thead>

    <tbody>
       {% if object_list %}
       {% for element in object_list %}
       <tr>
            <td>{{element.name}}</td>

            <td> {% for element2 in element.moreEffectiveAgainst.all %}
                {{element2.name}}, {% endfor %}</td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No Records Yet</h1>

        {% endif %}
    </tbody>
</table>

{% endblock %}




